
<%- include('./partials/header'); %>
<div class="main-container">
    <h3 class="text-center"> Please select one of the action bellow. </h3>

    <div class="home-button-container" >
        <% showOptions.forEach(option => { %>
           
            <button type="button" class="btn btn-primary btn-lg home-button"  onclick="onChooseShowOptionClick(`<%= option %>`)"><%= option %></button>
            <input type="hidden" id="invoice-id" value="<%= invoiceId %>"/>
            <%});%>
        </div>
        
    </div>
    <% invoiceDetails.forEach(detail => { %>
    <input type="hidden" class="invoice-detail" id=<%= detail.id %> value=`<%= detail.value %>` />
    <%});%>
<%- include('./partials/footer'); %>